<h1>
  {{title}}
</h1>

<h2 [hidden]="!visible"></h2>
<button (click)="decirAdios()">Decir Adios</button>
<button [hidden]="!visible" (click)="volverAtras()">Volver Atras</button>

<p>
  ¿Como te llamas y Cual es tu edad?
  <input type="text"[(ngModel)]="nombre">
  <input type="text"[(ngModel)]="edad">
</p>

<h1>
  Hola {{nombre}},
  Tu edad es: {{edad}}
</h1>

<app-mi-componente></app-mi-componente>

<button

(click)="probarFuncionComponenteHijo()">Probar Funcion Componente Hijo
  
</button>

<br/><br/>
-------------------------------------------------
<br/><br/>
<button (click)="obtenerPaises()">Listar Paises</button>
<br/><br/>

<div *ngIf="responsePaises">
<table>
  <tr>
    <th>Nombre</th>
    <th>Ciudad</th>
  </tr>
  <tr *ngFor="let pais of responsePaises">
    <td>{{pais.name}}</td>
    <td>{{pais.capital}}</td>
  </tr>

</table>
</div>